# Dependency directories
node_modules/

# Log files
*.log
yarn-debug.log*
yarn-error.log*
tsconfig.tsbuildinfo
package-lock.json

# dotenv environment variable files
.env
.env.local

# Mac system files
.DS_Store

# Editor directories and files
.vscode/

# Build directories
build/
.next/
out/

# host files
heroku.yml
deploy.sh